.backgroundimage {
    position: relative;
    width: 100%;
    height: 956px;
    justify-content: center;
    align-items: center;
}

.backgroundtext {
    position: absolute;
    color: white;
    font-size: 120px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}