.backgroundimage {
    position: relative;
    width: 100%;
    height: 950px;
    justify-content: center;
    align-items: center;
}

.backgroundtext {
    position: absolute;
    color: white;
    font-size: 120px;
    text-align: center;
    left: 50%;
    top: 40%;
    bottom: -50%;
    transform: translate(-50%,-50%);
    animation: slideUp 3s ease forwards;
    margin-bottom: 100px;
}

@keyframes slideUp {
    from {
        bottom: -10%;
    }
    to {
        bottom: 100%;
        transform: translate(-50%, 0%);
    }
}

@media screen and (max-width: 768px) {
    .backgroundtext {
        font-size: 60px; 
        top: 40%; 
    }
}
